<div class="dashboard-container">
  <div class="chart-section">
    <app-sales-chart [dashboardFilter]="dashboardFilter"></app-sales-chart>
  </div>

  <div class="widgets-row">
    <div class="widget-card">
      <app-sales-widget
        [selectedTimeframe]="globalTimeframe"
        [dashboardFilter]="dashboardFilter"
        (timeframeChange)="onTimeframeChange($event)">
      </app-sales-widget>
    </div>

    <div class="widget-card">
      <app-statistics-widget
        [selectedTimeframe]="globalTimeframe"
        [dashboardFilter]="dashboardFilter"
        (timeframeChange)="onTimeframeChange($event)">
      </app-statistics-widget>
    </div>

     <app-top-vendors 
     [dashboardFilter]="dashboardFilter"    
     ></app-top-vendors>

  </div>


  <div class="middle-section">
  <app-dchl-target-widget
  [selectedTimeframe]="globalTimeframe"
  [dashboardFilter]="dashboardFilter"
  (timeframeChange)="onTimeframeChange($event)">
</app-dchl-target-widget>

    <app-ours-widget
      [rows]="oursRows"
      [loading]="oursLoading"
      [selectedTimeframe]="globalTimeframe"
      [dashboardFilter]="dashboardFilter"
      (timeframeChange)="onTimeframeChangeOurs($event)">
    </app-ours-widget>

    
    <div class="widget-card">
      <app-break-even-widget
        [selectedTimeframe]="globalTimeframe"
        (timeframeChange)="onTimeframeChange($event)">
      </app-break-even-widget>
    </div>
   
  </div>

  <div class="bottom-section">
    <app-kpi-cards
      [selectedTimeframe]="globalTimeframe"
      [dashboardFilter]="dashboardFilter"
      (timeframeChange)="onTimeframeChange($event)">
    </app-kpi-cards>

    
  </div>
</div>